img[magnified=true] {
  position: absolute;
  -webkit-transition-property: left, top, width, height, opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-property: left, top, width, height, opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-property: left, top, width, height, opacity;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-in-out;
  opacity: 1;
  box-shadow: 0px 0px 24px black;
  -moz-box-shadow: 0px 0px 24px black;
  -o-box-shadow: 0px 0px 24px black;
  -webkit-box-shadow: 0px 0px 24px black;
  margin-top: 1em;
  margin-bottom: 1em;
}

img.zoomed {
  opacity: 0;
}

img.throbber {
  position: absolute;
  width: 27px;
  height: 27px;
}
